.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 40px 0;
  &__logo{
    display: flex;
    align-items: center;
    &-img1{
      width: 199px;
      display: block;
      margin-right: 9px;
    }
    &-img2{
      width: 71px;
      display: block;
      img{
        display: block;
        width: 100%;
      }
    }
  }
  &__close{
    display: none;
  }
}


@media screen and (max-width: 992px){
  .header{
    padding: 52px 0;
    &__inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo{
      &-img1{
        width: 107px;
        margin-right: 6px;
      }
      &-img2{
        width: 29px;
      }
    }
    &__close{
      z-index: 5;
      display: flex;
      img{
        width: 42px;
      }
    }
  }
}
